.formRegister{
    padding: 2em;
    margin-top: 2em;
}
.password{
    width:148px;
    margin:auto
} 
.password a{
    font-size: smaller;
    margin-right: -70px;
}
.login a{
    list-style: none; 
    font-size: larger;
    color: black;
}
.register a{
    list-style: none; 
    font-size: larger;
    color: black;
}
.home a{
    list-style: none; 
    font-size: larger;
    color: black;
}
.displayError{
    background-color: rgb(226, 2, 2);
    color: snow;
    width: 60%;
    list-style: none;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom:0.5em;
}
.containerError{
   width: 100%;
}

table{
   
    margin: auto;
  }
  
  td{
    border: 1.5px double black;
    padding: 10px;
  }
  .updatButton{
    background-color: snow;
    color: black;
    border: 1.5px solid #086fb4;
    transition-duration: 0.4s;
  }
  .updatButton:hover{
    background-color: #086fb4; 
    color: snow;
  }
  .deleteButton{
    background-color: snow;
    color: black;
    border: 1.5px solid #dd271a;
    transition-duration: 0.4s;
  }
  .deleteButton:hover{
    background-color: #dd271a; 
    color: snow;
  }
  .formTitle{
    background-color: rgba(0, 0, 0, 0.829);
    color: snow;

  }


