@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.article{
    width: 95%;
    margin: auto;
}
h1{
    font-family: 'Gilda Display', serif;
}

h2{
    font-family: 'Gilda Display', serif;
    font-weight: 700;
}

content{
    font-family: 'Lato', sans-serif;
}

.date{
font-size: smaller;
}