@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');

nav{
    width: 100%;
    border-radius: 15px;
    padding: 0.1em;
    display: flex;
    justify-content: space-between;
    font-family: 'Gilda Display', serif;
    font-size: 1.1em ;
    background-color: rgba(0, 0, 0, 0.829);

}
.navTitle{
    padding : 1.5em;
    color: snow;
}
.rightnav{
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
}

.rightnav a{
    color: snow;
    text-decoration: none;
}
.rightnav a:hover{
    color: rgb(114, 179, 240);
}

@media(max-width:768px){
    .rightnav{
        display: none;
    };
}
.ham{
    flex-flow: column nowrap;
    background-color: rgb(49, 49, 49);
    border-radius: 15px;
    position: fixed;
    margin-right: 3.5px;
    top: 68px;
    right: 0;
    width: 45%;
    height: 41em;
    padding: 3.5em;
    list-style: none;    
    }

.ham a{
    list-style: none;
    text-decoration: none;    
    font-size: larger;
    color: snow;
}
.ham a:hover{
    color: rgb(114, 179, 240);
}

li{
    padding: 0.5em;
    color: rgba(0, 0, 0, 0.829);
}

.hamburger{
    visibility: hidden;
    position: fixed;
    top: 20px;
    right: 20px;
}
@media(max-width:768px){
    .hamburger{
        visibility: visible;
    }
}

